<!--<Program Name:Home Page>-->
<!--<Programer:Yu Yun Chi, Li Ho Yin, Poon King Hin>-->
<!--<Version 2.2>-->
<!--<Purpose:It is the Homepage,which display the Popular Recipes,Latest recipes,info of developer team, and have 2 button:Search,logout>-->
<!--<Continue:It also have Hyperlink to the HomePage,User profile,Upload page;nev link to the Popular Recipes and Latest recipes>-->
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>DeliSquare - Home</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
        <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <!--search-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
        <!--<script>-->
          <!--$(document).ready(function(){-->
            <!--var passkey;-->
            <!--$("#submit").click(function(){-->
              <!--passkey=$("#searchkey").val();                            -->
                  <!--$.get("/home/search",{keyword : passkey}, function(data){-->
                      <!--// if(data==='done')-->
                      <!--// {-->
                      <!--//   alert("hi");-->
                      <!--//     //window.location.href="/home";-->
                      <!--// }-->
                      <!--// else {-->
                      <!--//     alert(data);-->
                      <!--// }-->
                      <!--//-->

                  <!--});              -->
    <!---->
            <!--});-->
          <!--});-->
        <!--</script>-->
        
    </head>
    <!--<script type="text/javascript">-->
        <!--function logout()-->
        <!--{-->
            <!--delete req.session.user;-->
            <!--return res.render('/login');-->

        <!--}-->
    <!--</script>-->
    
<style>
    body {
        background: linear-gradient(white, rgb(255, 244, 219));
        background-attachment: fixed;
        cursor: url(/images/Pizza.cur), default !important;
    }
</style>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-warning" style="position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 50px;">
            <a class="navbar-brand" href="/home">DeliSquare</a>
                        
            <div class="collapse navbar-collapse"  id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" >
                        <a class="nav-link" href="/profile" style="color: white">PROFILE  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/upload" style="color: white">UPLOAD  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" style="color: white">LOG OUT</a>
                    </li>
                    <li class="nav-item">
                        <!-- <form class="sea" action="/result"> -->
                        <form class="sea"action="/result">
                            <input type="text" id="searchkey" placeholder="Search.." name="search" required>
                            <!-- <button type="submit" id="submit" onclick="search()">GO</button> -->
                            <button type="submit" id="submit">GO</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
            <div class="jumbotron jumbotron_home">
                <img class="mb-4 image" src="images/logo.png" alt="" style="display: block; margin-left: auto; margin-right: auto; width:180px; height:180px;">
                <!--h1 class="display-4">DeliSquare</h1-->
                <h4 style="text-align: center; color: coral;"><b>Meet your favorite recipes today</b></h4>
            </div>
            <nav id="navbar-example2" class="navbar navbar-light">
                <a class="navbar-brand" href="#"></a>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="#Popular" style="padding-top:0;">Popular Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Latest" style="padding-top:0;">Latest Recipes</a>
                    </li>
                </ul>
            </nav>
            <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                <h4 id="Popular" style="color: coral;">Popular Recipes</h4>
                <div class="row">
                    <div class="col">
                        <div class="card recipe-box">
                            <a href="/recipes/recipe.ejs">
                                <div class="card-body text-center recipe-box">
                                    <img class="crop" src="/images/chicken.jpg" alt="">
                                    <h5 class="recipe_name">Chicken with Mushroom Sauce</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card recipe-box">
                            <a href="/recipes/recipe.ejs">
                                <div class="card-body text-center recipe-box">
                                    <img class="crop" src="/images/speghetti.jpg" alt="">
                                    <h5 class="recipe_name">Seafood Speghetti</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card recipe-box">
                            <a href="/recipes/recipe.ejs">
                                <div class="card-body text-center recipe-box">
                                    <img class="crop" src="/images/cream-puffs.jpg" alt="">
                                    <h5 class="recipe_name">Chocolate Cream Puffs</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <h4 id="Latest" style="margin-top:20px; color: coral;">Latest Recipes</h4>                     
                <div class="row">
                    <div class="col">
                        <div class="card recipe-box">
                            <a href="/recipes/recipe.ejs">
                                <div class="card-body text-center recipe-box">
                                    <img class="crop" src="/images/beef-steak.jpg" alt="">
                                    <h5 class="recipe_name">Beef Steak with Vegetables</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card recipe-box">
                            <a href="/recipes/recipe.ejs">
                                <div class="card-body text-center recipe-box">
                                    <img class="crop" src="/images/turkey.jpg" alt="">
                                    <h5 class="recipe_name">My Favorite Turkey</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card recipe-box">
                            <a href="/recipes/recipe.ejs">
                                <div class="card-body text-center recipe-box">
                                    <img class="crop" src="/images/pork-barbeque.jpg" alt="">
                                    <h5 class="recipe_name">Honey Pork Barbeque</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-sm-4 mt-md-0">
                <div class="col-sm-12 col-md-8">
                    <h4 id="About" style="margin-top:20px; color: coral;">About Us</h4>
                    <p>We are a team of poor computer science students from the Chinese University of Hong Kong</p>
                    <p>This is the project of CSCI3100 - Software Engineering</p>
                    <p>P.S. We love Prof. Michael Lyu :)</p>
                </div>
            </div>
        </div>

        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/popper.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
    </body>
</html>