<!DOCTYPE html>
<!--<Program Name:User Profile Page>-->
<!--<Programer:Yu Yun Chi, Li Ho Yin, Poon King Hin>-->
<!--<Version 2.3>-->
<!--<Purpose:It is the Profile Page,which display the Profile(user's personal info),saved recipes,uploaded recipes>-->
<!--<Continue:It also have Hyperlink to the HomePage,user profile page,upload page;a log out button and a search button,3 nav-tabs(Account Information,Saved Recipes,My Uploaded Recipes)>-->
<style>
html  {
    cursor: url(/images/Pizza.cur), default !important;
}
</style>
<html class="no-js" lang="en">


<head>
  <title>DeliSquare - User profile</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
  <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>


<style>
body  {
  background-image: url("/images/background2_op.png");
  background-attachment: fixed;
  cursor: url(/images/Pizza.cur), default !important;
}
</style>

<body>
  <div class="container opaque_box_profile">
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning" style="position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 50px;">
      <a class="navbar-brand" href="/home">DeliSquare</a>
      <div class="collapse navbar-collapse"  id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" >
            <a class="nav-link" href="/profile" style="color: white">PROFILE  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/upload" style="color: white">UPLOAD  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout" style="color: white">LOG OUT</a>
          </li>
          <li class="nav-item">
            <form class="sea" action="/result">
              <input type="text" placeholder="Search.." name="search" required>
              <button type="submit">GO</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <br />
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a href="#info" class="nav-link active" role="tab" data-toggle="tab"><b>Account Information</b></a>
            </li>
            
            <li class="nav-item">
              <a href="#save" class="nav-link" role="tab" data-toggle="tab"><b>Saved Recipes</b></a>
            </li>
            
            <li class="nav-item">
              <a href="#yours" class="nav-link" role="tab" data-toggle="tab"><b>My Uploaded Recipes</b></a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade show active" id="info" style="margin-top: 20px; margin-left: 20px;">
              <ul class="list-group">
                <li class="list-group-item">Username: <%= user.username %></li>
                <li class="list-group-item">Email address: <%= user.email %></li>
                <li class="list-group-item">#Saved recipes: <%= user.saverecipe %></li>
                <li class="list-group-item">#My uploaded recipes:  <%= user.uploaded %> </li>
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="save" style="margin-top: 20px; margin-left: 20px;">
                <ul class="list-group" id="saverep">
                  <!--<a href="/recipe">-->
                    <!--<li class="list-group-item">Chocolate Cream Puffs</li>-->
                  <!--</a>-->
                  <!--<li class="list-group-item">Second item</li>-->
                  <!--<li class="list-group-item">Third item</li>-->
                </ul>
              <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
              <script>
                  $.post("/profile/save",{}, function(data){

                      for ( var i= 0;i<<%= user.saverecipe %>;i++){
                          var title = data[i].title;
                          var rid = data[i].rid;
                          var txt= '<ul class="list-group"><a href="/recipes/'+rid.toString()+'.ejs"> <li class="list-group-item">'+title+'</li></a></ul>';
                          document.getElementById("saverep").innerHTML+=txt;
                      }
                  });
              </script>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="yours" style="margin-top: 20px; margin-left: 20px;">
              <ul class="list-group" id="upload">
                <!--<a href="/recipe">-->
                  <!--<li class="list-group-item">My Favorite Turkey</li>-->
                <!--</a>-->
              </ul>
              <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
              <script>

                  //$(document).ready(function(){
                  $.post("/profile/upload",{}, function(data){

                      for ( var i= 0;i<<%= user.uploaded %>;i++){
                          var title = data[i].title;
                          var rid = data[i].rid;
                          var txt= '<ul class="list-group"><a href="/recipes/'+rid.toString()+'.ejs"> <li class="list-group-item">'+title+'</li></a></ul>';
                          document.getElementById("upload").innerHTML+=txt;
                          }
                      });
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</body>

</html>