
<!DOCTYPE html>
<!--<Program Name:Result Page>-->
<!--<Programer:Yu Yun Chi, Li Ho Yin, Poon King Hin>-->
<!--<Version 2.2>-->
<!--<Purpose:It is the Result Page,which display yuor Searching content(must be displayed),and Searching Result(recipes' photos and name)(Null result if no match find)>-->
<!--<Continue:It also have Hyperlink to the HomePage,user profile page,upload page;a log out button and a search button>-->
<html class="no-js" lang="en">


<head>
    <title>DeliSquare - Search result</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>


<style>
    body {
        cursor: url(/images/Pizza.cur), default !important;
        background-image: url("/images/background2_op.png");
        background-attachment: fixed;
    }
</style>

<body>
    <div class="container ">
        <nav class="navbar navbar-expand-lg navbar-dark bg-warning" style="position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 50px;">
            <a class="navbar-brand" href="/home">DeliSquare</a>
            <div class="collapse navbar-collapse"  id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" >
                        <a class="nav-link" href="/profile" style="color: white">PROFILE  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/upload" style="color: white">UPLOAD  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" style="color: white">LOG OUT</a>
                    </li>
                    <li class="nav-item">
                        <form class="sea" action="/result">
                            <input type="text" placeholder="Search.." name="search" required>
                            <button type="submit">GO</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="opaque_box_result">
        <h3 style="margin-bottom: 20px; color: coral;"><b>Search results of <%- JSON.stringify(query.search)%></b></h3>
            <div data-spy="scroll"  data-target="#navbar-example2" data-offset="0">
                <div class="row" >
                </div>
                   <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
                <script>
                    var searchresult = <%- JSON.stringify(result) %>;
                    for (var i=0; i<searchresult.length; i++){
                        var rid = searchresult[i].rid;
                        var title = searchresult[i].title;
                        var txt = '<div class="row"><div class="col">';
                        txt+='<div class="card recipe-box">';
                        txt+='<a href="/recipes/'+ rid+'.ejs">';
                        txt+='<div class="card-body text-center recipe-box">';
                        txt+='<img class="crop" src="/images/'+rid+'.jpg" alt="">';
                        txt+='<h5 class="recipe_name">'+title+'</h5>';
                        txt+='</div></a></div></div></div>';

                        document.getElementById("result").innerHTML+=txt;

                    }
                </script>
            </div>
        </div>
    </div>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</body>


</html>