<!doctype html>
<html lang="en">
<!--<Program Name:Sign in Page>-->
<!--<Programer:Yu Yun Chi, Li Ho Yin, Poon King Hin>-->
<!--<Version 2.5>-->
<!--<Purpose:It is the Signin Page,which take 2 User Input(Email,Password)>-->
<!--<Continue:It will check is the Email Format valid(with @ and end with .com),if not it will display a box show invalid email>-->
<!--<Continue:It also has a submit button, which will direct the user to homepage, if both input is match will the data in database>-->
<!--<Continue:It also have another button signup,which will toggle a sign up form(modal)The user has to input his email, desired username, password, and confirm password.>-->
<!--<Continue:Unfilled blanks and incorrectly formatted inputs will be checked and the user will be notified>-->

<head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>DeliSquare - Sign in</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
        <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/signin.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/signin.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">

    <!-- signin -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script>
      $(document).ready(function(){
        var user,pass;
        $("#submit").click(function(){
          user=$("#inputEmail").val();
          pass=$("#inputPassword").val();
          if(user != "" && pass != "" ){
              $.post("http://localhost:8000/login",{user: user,password: pass}, function(data){
                  if(data==='done')
                  {
                      window.location.href="/home";
                  }
                  else {
                      alert(data);
                  }
              });
          }

        });
      });
    </script>

     <!--sign up -->
    <script type="text/javascript" language="javascript">
        $(document).ready(function(){
          var user,pass,email;
          $("#signup").click(function(){
            user=$("#Suname").val();
            pass=$("#Spw").val();
            email=$("#Semail").val();
            if ($('#Spw').val() == $('#confirm_password').val()) {
                      // document.getElementById('message').style.display = "none";
            } else {
                    document.getElementById("confirm_password").focus();
                      return false;
            }
            if (email != "") {
                  var reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
                  isok= reg.test(email );
                  if (!isok) {
                      alert("invalid email format");
                      document.getElementById("Semail").focus();
                      return false;
                  }
              }
            if(user != "" && pass != "" && email != "") {
                $.post("http://localhost:8000/signup", {user: user, password: pass, email: email}, function (data) {
                    alert(data)
                    parent.location.href="/home";
                });
            }
          });
        });
      </script>

</head>


<style>
body  {
    background-image: url("/images/background2_op.png");
    background-attachment: fixed;
    cursor: url(images/Pizza.cur), default !important;
}
</style>

<body class="text-center">
  <div class="opaque_box">
  <form class="form-signin">
      <img class="mb-4 image" src="/images/logo.png" alt="" width="150" height="150">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
          <label>
              <input type="checkbox" value="remember-me"> Remember me
          </label>
          
      </div>
      <!--- <a href="index.ejs"> -->
      <button type="submit" id="submit" class="btn btn-lg btn-primary btn-block" >Sign in</button>
        <!--- <button type="submit" id="submit" class="btn btn-lg btn-primary btn-block">Sign in</button> -->
      <!--- </a> -->
  </form>

  <form class="form-signin">
    <!-- Button to open the modal -->
    <button class="btn btn-lg btn-primary btn-block sign_up_box" onclick="document.getElementById('id01').style.display='block'"><b>Sign up</b></button>

  <!-- The Modal (contains the Sign Up form) -->
    <div id="id01" class="modal modal_bg w3-animate-zoom">
      <div class="modal_style">
        <form  class="modal-content" action="/action_page.php">

          <div class="container">
            <h1>Sign Up</h1>
            <hr>

            <label for="email">Email address</label>
            <input type="email" id = "Semail" name="Semail" placeholder="Email address" class="form-control" required autofocus>

             <label for="uname" style="margin-top:10px;">Username</label>
            <input type="text" id = "Suname" name="Suname" placeholder="Username" class="form-control" required style="margin-bottom:7px;">

            <label for="psw">Password</label>
            <input type="password" id='Spw' placeholder="Password" class="form-control" name="psw" onkeyup='check()' required>

            <label for="psw-repeat">Confirm password
              <span id='message'></span>
            </label>
            <input type="password" id='confirm_password' placeholder="Confirm Password" class="form-control" name="psw-repeat" onkeyup='check()' required>

            <label>
              <input type="checkbox" name="remember" style="margin-bottom:15px"> Remember me
            </label>

            <div class="clearfix">
              <button type="submit" id = "signup" class="btn btn-lg btn-primary btn-block" >Submit</button>
              <button type="button" class="btn btn-lg btn-primary btn-block sign_up_box" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </form>

  <script>
    var check = function() {
    if (document.getElementById('Spw').value == document.getElementById('confirm_password').value) {
      document.getElementById('message').style.display = "none";
    } else {
        document.getElementById('message').style.display = "block";
        document.getElementById('message').style.color = 'red';
        document.getElementById('message').innerHTML = 'not matching';
    }
  }
  </script>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</body>


</html>