<!DOCTYPE html>
<!--<Program Name:Upload Page>-->
<!--<Programer:Yu Yun Chi, Li Ho Yin, Poon King Hin>-->
<!--<Version 3.0>-->
<!--<Purpose:It is the Upload Page,which take unless 6 input(receipe's title,photo,ingredient_name(1),ingredient_amouunt(1),Step_number(1),Step_description(1)>-->
<!--<Continue:It have 3 button related to this page,add ingredients,add steps, and sumit>-->
<!--<Continue:add ingredients add two new box to take 2 more input,ingredient_name(i+1),ingredient_amouunt(i+1),it can be click with i times(many time)>-->
<!--<Continue:add steps is similar to add ingredients>-->
<!--<Continue:sumit will send the above data to the database and insert,and the user will be directed to the recipes page of the uploaded recipe>-->
<!--<Continue:It also have Hyperlink to the HomePage,user profile page,upload page;a log out button and a search button>-->
<html class="no-js" lang="en">


<head>
    <title>DeliSquare - Upload Recipe</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>-->
    <!--<script>-->
        <!--$(document).ready(function(){-->
            <!--var user,pass;-->
            <!--$("#upload").click(function(){-->
                <!--title=$("#title").val();-->
                <!--ingred=$("#ingredient").val();-->
                <!--amounts=$("#amounts").val();-->
                <!--step=$("#step").val();-->
                <!--method=$("#method").val();-->
              <!---->
                    <!--$.post("/upload",{title:title, ingred:ingred, amounts:amounts, step:step,method:method}, function(data){-->
                        <!--if(data==='done')-->
                        <!--{-->
                            <!--window.location.href="/profile";-->
                        <!--}-->
                        <!--else {-->
                            <!--alert(data);-->
                        <!--}-->
                    <!--});-->
                <!--}-->

            <!--});-->
        <!--});-->
    <!--</script>-->
</head>


<style>
    body {
        cursor: url(/images/Pizza.cur), default !important;
        background-image: url("images/background2_op.png");
        background-attachment: fixed;
    }
</style>

<body>
    <div class="container opaque_box_upload">
        <nav class="navbar navbar-expand-lg navbar-dark bg-warning" style="position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 50px;">
            <a class="navbar-brand" href="/home">DeliSquare</a>
            <div class="collapse navbar-collapse"  id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" >
                        <a class="nav-link" href="/profile" style="color: white">PROFILE  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/upload" style="color: white">UPLOAD  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" style="color: white">LOG OUT</a>
                    </li>
                    <li class="nav-item">
                        <form class="sea" action="/result">
                            <input type="text" placeholder="Search.." name="search" required>
                            <button type="submit">GO</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <form>
            <h3 style="margin-bottom: 30px; color: coral;"><b>Upload a Recipe</b></h3>
            <div class="form-group">
                <label for="title" style="font-size:20px;"><b>Recipe title</b></label>
                <input type="dish" class="form-control" id="title"  placeholder="Title" required autofocus>
            </div>
            <div class="form-group">
                <label for="photo" style="font-size:20px; margin-top:10px;"><b>Photo</b></label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <table id="myTable" class=" table order-list">
                <p style="font-size:20px; margin-top:30px;"><b>Ingredients</b></p>
                <thead>
                    <tr>
                        <td><b>Ingredient</b></td>
                        <td><b>Amount</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-sm-4">
                            <input type="text" id="ingredient" name="name" class="form-control" required />
                        </td>
                        <td class="col-sm-4">
                            <input type="text" id="amounts" name="Amounts"  class="form-control" style="width:150px;" required />
                        </td>
                        <td class="col-sm-2"><a class="deleteRow"></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" style="text-align: left;">
                            <input type="button" class="btn btn-lg btn-block add_button" id="addrow" value="Add ingredient" />
                        </td>
                    </tr>
                    <tr>
                    </tr>
                </tfoot>
            </table>
            <table id="myTable2" class=" table order-list2">
                <p style="font-size:20px;"><b>Instructions</b></p>
                <thead>
                    <tr>
                        <td><b>Step number</b></td>
                        <td><b>Description</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-sm-4">
                            <input type="text" id="step" name="Steps" class="form-control" required />
                        </td>
                        <td class="col-sm-4">
                            <input type="text" id="method" name="Method" class="form-control method_width" required />
                        </td>
                        <td class="col-sm-2"><a class="deleteRow2"></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" style="text-align: left;">
                            <input type="button" class="btn btn-lg btn-block add_button" id="addrow2" value="Add step" />
                        </td>
                    </tr>
                    <tr>
                    </tr>
                </tfoot>
            </table>
            <button type="submit" id="upload" class="btn btn-lg btn-primary btn-block center2">Submit</button>
        </form>
    </div>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/upload.js"></script>
</body>


</html>