* {
    box-sizing: border-box;
  }
  html *
  {
    font-family: 'Century Gothic', sans-serif !important;
  }
  
  /* Style the search field */
  form.sea input[type=text] {
    padding: 6px;
    font-size: 15px;
    float: left;
    width: 80%;
    margin-top: 2px;
    background: white;
    border:none;
    border-radius: 10px;
  }
  
  /* Style the submit button */
  form.sea button {
    float: left;
    width: 20%;
    padding: 6px;
    margin-top: 2px;
    background: rgb(255, 107, 45);
    color: white;
    font-size: 15px;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border:none;
    border-radius: 10px;
  }
  
  form.sea button:hover {
    background: rgb(255, 75, 25);
  }
  
  /* Clear floats */
  form.sea::after {
    content: "";
    clear: both;
    display: table;
  }

a:link {
    text-decoration: none;
}

body {
  	cursor: url(/images/Pizza.cur), default !important;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 60%;
    width: 60%;
}
.center {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 40px 0;
}
.opaque_box {
  margin: auto;
  text-align: center;
  width: 500px;
  height: 610px;
  padding: 30px 0;
  border-radius: 25px;
  background: rgba(183, 230, 255, 0.3);
  font-family: 'Century Gothic', sans-serif;
}
.sign_up_box {
  background-color: transparent;
  color: rgb(16, 116, 246);
}
.modal_bg {
  	margin-left: auto;
  	margin-right: auto;
  	top: 0;
  	padding: 0;
  	width: 560px;
  	height: 100%;
  	border-radius: 25px;
  	background-color: rgb(183, 230, 255);
}
.modal_style {
  margin: auto;
  width: 360px;
  padding: 32px 0;
  text-align: center;
  background: transparent;
}
.form-signin .opaque_box {}
.mb-4 .image {}
.btn .btn-lg .btn-primary .btn-block .sign_up_box {}
.modal .modal_style {}
.modal .modal_bg .w3-animate-zoom{}

.bar_text_color {
  color: blue;
}
.crop {
  object-fit: cover;
  width:180px;
  height:180px;
  border-radius: 16px;
}
.recipe-box {
  background-color: transparent;
  border: none;
}
.recipe-box:hover {
  opacity: 0.7;
}
.recipe_name {
  margin-top: 10px;
  color: black;
}
.opaque_box_profile {
  margin: auto;
  margin-top: 100px;
  width: 80%;
  height: 100%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-radius: 25px;
  background: rgba(183, 230, 255, 0.3);
}
.nav_color {
	background-color: white;
}
.method_width {
	width:50vw;
}
.center2 {
  	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 30%;
}
.opaque_box_upload {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
  height: 80%;
  padding: 30px;
  padding-bottom: 0px;
  border-radius: 25px;
  background: rgba(183, 230, 255, 0.3);
}
.add_button {
	background-color: rgb(164, 221, 255);
	color: rgb(16, 116, 246);
}
.opaque_box_result {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
  height: 80%;
  padding: 30px;
  padding-bottom: 0px;
  border-radius: 25px;
  background: white;
}
.jumbotron_home {
	background-image: url(../images/background2_op.png);
	height: 100%;
	width: 100%;
	padding-top:90px;
	padding-bottom: 23px;
	margin-bottom: 20px;
}
.crop_recipe {
  object-fit: cover;
  width:280px;
  height:280px;
  border-radius: 16px;
}
.container_recipe_img {
	margin-top: 20px; 
	margin-left: 5.5vw;
	width: 310px;
	float: left;
	/*background-color: pink;*/
}
.container_recipe_des {
	margin-top: 20px;
  margin-bottom: 10px; 
	margin-left: 5.5vw;
	width: 420px;
	height: 470px;
    float: left;
    overflow-y: scroll;
	padding-right: 15px;
	/*background-color: pink;*/
}
.container_recipe_bar {
	margin-top: 50px; 
	margin-left: 12vw;
	width: 440px;
}
.heart_button {
    background:url(../images/heart_b4_small.png) no-repeat;
    border: none;
    color: transparent;
    font: 700 16px/40px 'Open Sans', sans-serif;
}
.save_button {
	background:url(../images/save_b4_small.png) no-repeat;
    width: 40px;
    border: none;
    color: transparent;
    font: 700 16px/40px 'Open Sans', sans-serif;
}
.heart_button:hover{
	opacity: 0.7;
}
.heart_button:active {
	background:url(../images/heart_small.png) no-repeat;
}
.save_button:hover {
	opacity: 0.7;
}
.save_button:active {
	background:url(../images/save_small.png) no-repeat;
}
.container_comment {
  padding-top: 0px;
  margin-left: 5.5vw;
  margin-top: 5px;
  width: 50%;
  float:left;
  display: block;
  /*background-color: pink;*/
}
.comment_box {
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.leave_comment_box {
  width: 100%;
  height: 120px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.upper_container {
  width: 100%;
  display: block;
  min-height: 100px;
  overflow: hidden;
}