<!DOCTYPE html>
<html class="no-js" lang="en">


<head>
    <title>DeliSquare - Search result</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
z

<style>
body {
    cursor: url(/images/Pizza.cur), default !important;
    background: linear-gradient(white, rgb(255, 244, 219));
    background-attachment: fixed;
}
</style>

<body>
    <div class="container ">
        <nav class="navbar navbar-expand-lg navbar-dark bg-warning" style="position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 50px;">
            <a class="navbar-brand" href="/home">DeliSquare</a>
            <div class="collapse navbar-collapse"  id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" >
                        <a class="nav-link" href="/profile" style="color: white">PROFILE  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/upload" style="color: white">UPLOAD  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" style="color: white">LOG OUT</a>
                    </li>
                    <li class="nav-item">
                        <form class="sea" action="/result">
                            <input type="text" placeholder="Search.." name="search" required>
                            <button type="submit">GO</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div style="margin-top:70px;">
    </div>
    <div class="upper_container">
        <div class="container_recipe_img" align="left">
            <h2 style="margin-bottom: 15px; color: coral;"><b>Chocolate Cream Puffs</b></h2>
            <img class="crop_recipe" src="/images/cream-puffs.jpg" alt="">
            <h5 style="margin-top: 20px;">Posted by <b>Bktea</b> on 2018-03-31</h5>
            <h6 style="margin-bottom: 12px;">#dessert #yummy #easy #delicious</h6>
            <div class="icon-bar">
                <button class="heart_button" align="center">heart</button>
                <button class="save_button">save</button>
            </div>
            <div class="icon-bar">
                <p style="margin-left: 15px;">2</p>
            </div>
        </div>
        <div class="container_recipe_des">
            <h3 style="margin-bottom: 15px; color: coral;">Ingredients</h3>
            <ul>
                <li>Water - 1 cup</li>
                <li>Unsalted butter (cold)- 1/2 cup</li>
                <li>Sugar - 1 tsp</li>
                <li>Salt - 1/2 tsp</li>
                <li>All-purpose flour - 1 cup</li>
                <li>Large eggs - 4</li>
                <li>Sugar - 1/2 cup</li>
                <li>Cornstarch - 1/4 cup</li>
                <li>Salt - pinch of</li>
                <li>Milk - 2 cups</li>
                <li>Large egg yolks - 4</li>
                <li>Unsalted butter (cold) - 2 tbsp</li>
                <li>Vanilla extract - 1 and 1/2 tsp</li>
                <li>Semisweet chocolate (chopped) - 4 oz</li>
                <li>Heavy cream (hot) - 1/2 cup</li>
            </ul>

            
        </div>
        <div class="container_recipe_des">
            <h3 style="margin-bottom: 15px; color: coral;">Instructions</h3>
            <ol>
                <li>Make the Cream Puffs: In a large pot, combine the water, butter, sugar and salt. Set to high heat and bring to a boil.</li>
                <li>Stir in the flour with a wooden spoon mix until a film forms on the bottom of the pan. Transfer the dough to a bowl and cool for 3-4 minutes.</li>
                <li>Add the eggs one at a time, stirring vigorously and completely incorporating each egg after each addition. </li>
                <li>Transfer the dough to a piping bag fitted with a large, round piping tip and pipe 1 ½-inch rounds onto baking sheets lined with parchment paper.</li>
                <li>Wet your fingers and smooth any pointed peaks.</li>
                <li>Bake them at 375F for 30 minutes. Cool on the pan for 10 minutes, then transfer to a wire rack and cool completely.</li>

                <li>Make the Pastry Cream: Combine the sugar, cornstarch and salt in a pot. Add the milk, egg yolks and butter and whisk together.</li>
                <li>Set to medium heat and whisk constantly until it comes to a boil.</li>
                <li>Once it thickens, remove from the heat and add the vanilla extract. If the pastry cream becomes lumpy, pulse in a food processor a couple times.</li>

                <li>Transfer to a piping bag fitted with a round tip.</li>
                <li>Slice the cream puffs in half. Pipe a generous dollop of cream between the two layers.</li>

                <li>Make the glaze: Pour the cream over the chocolate and whisk until smooth.</li>
                <li>Drizzle on top of the cream puffs.</li>
                <li>Enjoy!</li>
            </ol>
        </div>
    </div>
    <div class="container_comment">
        <br />
    </div>
    <div class="container_comment">
        <h3 style="margin-bottom: 15px; color: coral;">Comments</h3>
        <div class="comment_box">
            <h6><b>Benedict Cumberbatch</b></h6>
            <h6 class="text-muted time">2018-03-31 11:26:45</h6>
            <h6>Great recipe! Made it yesterday for my party, and all my guests LOVED it!!! Definitely will make it again in the future!</h6>
        </div>
        <div class="comment_box">
            <h6><b>Chris Evans</b></h6>
            <h6 class="text-muted time">2018-03-31 11:43:22</h6>
            <h6>I am Captain America!</h6>
        </div>
    </div>
    <div class="container_comment">
        <form class="form-inline">
            <textarea placeholder="Leave a comment..." class="pb-cmnt-textarea leave_comment_box" required></textarea>
            <button class="btn btn-primary ml-auto" type="submit" style="float:right;">Share</button>
        </form>
        <div style="margin-bottom:60px;">
        </div>
    </div>
    

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</body>


</html>